* {
    margin: 0;
    padding: 0;
    list-style: none;
  }

@font-face {
    font-family: 'digital-7';
    src: url('digital-7\ \(mono\).ttf');
}

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    background-image: url(/assets/images/background2.jpg); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
header {
    height: 13%;
}

main {
    height: 87%;
}
.cssClock {
    font-family: 'digital-7', sans-serif;
}

.displayTimes {
    width: 85%;
    margin: auto;
    height: 6.6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.extraInfo {
    width: 85%;
    margin: auto;
    height: 6.6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.namaazName {
    width: 100px;
}