* {
    margin: 0;
    padding: 0;
    list-style: none;
  }

@font-face {
    font-family: 'digital-7';
    src: url('digital-7\ \(mono\).ttf');
}

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    background-image: url(/assets/images/background2.jpg); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}