* {
    margin: 0;
    padding: 0;
    list-style: none;
  }

@font-face {
    font-family: 'digital-7';
    src: url('digital-7\ \(mono\).ttf');
}

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    background-image: url(/assets/images/background2.jpg); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    font-family: sans-serif;
}
header {
    height: 13%;
}

main {
    height: 87%;
}
.date {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.clock {
    height: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 1rem;
}
#fullTime {
    font-size: 15vh;
}
#digitalClockExtra {
    font-size: 7vh;
}
.digitalClock {
    font-family: 'digital-7', sans-serif;
    font-size: 5vh;
}
.announcementInfo {
    width: 85%;
    margin: auto;
    height: 4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.announcements {
    font-size: 2vh;
    text-align: center;
    font-style: italic;
}
.displayTitle {
    width: 85%;
    margin: auto;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.displayTimes {
    width: 85%;
    margin: auto;
    height: 6.6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.displayTimes .digitalClock, .sJTitle {
    width: 19%;
    text-align: center;
}


.extraInfo {
    width: 85%;
    margin: auto;
    height: 9%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.namaazName {
    width: 100px;
}